<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.ludei.injector.android"
    version="2.0.0">

    <name>Cocoon Injector Plugin</name>
    <description>Cocoon Injector Plugin</description>
    <license>Copyright Ludei</license>
    <keywords>cordova, ludei, cocoon, development, devapp</keywords>
    <repo>https://bitbucket.org/ludei/cocoon_plugins</repo>

    <!-- android -->
    <platform name="android">
        <source-file src="src/android/InjectorPlugin.java" target-dir="src/com/ludei/injector/android" />
        <source-file src="src/android/CocoonSystemWebViewClient.java" target-dir="src/com/ludei/injector/android" />

        <config-file target="app/src/main/res/xml/config.xml" parent="/*">
            <feature name="InjectorPlugin">
                <param name="android-package" value="com.ludei.injector.android.InjectorPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
    </platform>
</plugin>
